// Import custom bootstrap
@import "custom_bootstrap.less";

body {
    background-color: #E8E8E8;
    font-size: 16px;
}

h1 {
    color: @red;
}
h2, h3, h4 {
    color: @gray-light;
}

/* Header *
 * ------ */

header {
    padding-top: 80px;
    background: url('../img/photos-horizontal.jpg') repeat-x top center;
}
#header {
    overflow: hidden;
}
h1.text-hide, h2.text-hide {
    margin: 0;
}
#main {
    background-color: #FFFFFF;
}


/* social links *
 * ------------ */

#communiquer a {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font: 0/0 a;
  padding: 16px;
  background: url('../img/feed-32x32.png') no-repeat 0 0;
}
#communiquer a#identica {
  background-image: url('../img/identica-32x32.png');
}
#communiquer a#twitter {
  background-image: url('../img/twitter-32.png');
}
#communiquer a#google {
  background-image: url('../img/google-plus-32.png');
}
#communiquer a#lanyrd {
  background-image: url('../img/lanyrd-32x32.png');
}
#communiquer a#facebook {
  background-image: url('../img/facebook-32.png');
}

/* Footer *
 * ------ */

#footer {
    font-size: 0.875em;
    color: #999;
    text-align: right;
}
#footer a {
    color: #777;
}
