<div id="communiquer">
<!--
    <a target="_blank" href="http://identi.ca/toulibreorg" id="identica">Identica</a> 
-->
    <a target="_blank" href="https://twitter.com/toulibreorg" id="twitter">Twitter</a> 
    <a target="_blank" href="https://plus.google.com/b/109128243242581226442/109128243242581226442/posts" id="google">Google+</a>
    <a target="_blank" href="https://www.facebook.com/pages/Toulibre/198002937051300" id="facebook">Facebook</a>
    <a target="_blank" href="https://www.flickr.com/groups/capitole-du-libre" id="flickr">Flickr</a>
</div>
