{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}

<p><a href="http://2013.capitoledulibre.org/index.html" target="_blank" alt="Capitole du Libre 2013">Capitole du Libre 2013</a></p>
<div class="nav" id="communiquer">
    <a target="_blank" href="http://identi.ca/toulibreorg" id="identica">Identica</a> 
    <a target="_blank" href="https://twitter.com/toulibreorg" id="twitter">Twitter</a> 
    <a target="_blank" href="https://plus.google.com/b/109128243242581226442/109128243242581226442/posts" id="google">Google+</a>
    <a target="_blank" href="https://www.facebook.com/pages/Toulibre/198002937051300" id="facebook">Facebook</a> </div>
</div>
<!--

{% sponsor_levels as levels %}

<h4>Sponsors</h4>

<div class="sponsor-list">
    {% box "sponsor-top" %}
    {% for level in levels %}
        {% if level.sponsors %}
            <h3 style="margin-top: 3em;">{{ level.name }}</h3>
            
            {% for sponsor in level.sponsors %}
                <div style="margin: 10px 0;">
                    <a href="{{ sponsor.external_url }}">
                        <img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" />
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
-->
