
body {
    background-color: #E8E8E8;
    font-size: 16px;
}

/* Header *
 * ------ */

#header {
    overflow: hidden;
}
h1.text-hide, h2.text-hide {
    margin: 0;
}
#main {
    background-color: #FFFFFF;
}


/* social links *
 * ------------ */

#communiquer a {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  font: 0/0 a;
  padding: 16px;
  background: url('../icons/feed-32x32.png') no-repeat 0 0;
}
#communiquer a#identica {
  background-image: url('../icons/identica-32x32.png');
}
#communiquer a#twitter {
  background-image: url('../icons/twitter-32.png');
}
#communiquer a#google {
  background-image: url('../icons/google-plus-32.png');
}
#communiquer a#lanyrd {
  background-image: url('../icons/lanyrd-32x32.png');
}
#communiquer a#facebook {
  background-image: url('../icons/facebook-32.png');
}

/* Footer *
 * ------ */

#footer {
    font-size: 0.875em;
    color: #999;
    text-align: right;
}
#footer a {
    color: #777;
}
