{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load thumbnail %}
{% load sitetree %}

{% block head_title %}{{ presentation.title }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}
    {% if presentation.slot %}
    <div class="pull-right">
    <span>{{ presentation.slot.day.date|date:"l" }} {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}</span>
    <span>{{ presentation.slot }}</span>
    </div>
    {% endif %}
    <h1>{{ presentation.title }}</h1>

    <p>
        {% for speaker in presentation.speakers %}<em>{{ speaker }}</em>{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>
    
    <dl class="dl-horizontal">
        {% if presentation.proposal.category %}
        <dt>Th&eacute;matique</dt>
        <dd>{{ presentation.proposal.category }}</dd>
        {% endif %}
        {% if presentation.proposal.get_audience_level_display %}
        <dt>Niveau</dt>
        <dd style="margin-bottom: 0;">{{ presentation.proposal.get_audience_level_display }}</dd>
        {% endif %}
        {% if presentation.session %}
        <dt>Horaire</dt><dd><span class="date">{{ presentation.session.day.date|date:"l d b" }}</span>,
        <span class="time">{{ presentation.session.start|date:"H:i" }} &ndash; {{ presentation.session.end|date:"H:i" }}</span></dd>
        <dt>Salle</dt><dd><span class="label label-danger">{{ presentation.session.room }}</span></dd>
        {% endif %}

    </dl>
    <h2>Description</h2>

    <div class="description">{{ presentation.description }}</div>

    {% if presentation.abstract %}
    <h2>{% trans "Abstract" %}</h2>
    <div class="abstract">{{ presentation.abstract|safe }}</div>
    {% endif %}
{% endblock %}

{% block sidebar %}
<section class="media">
    <h2 class="text-hide">Intervenant(es)</h2>
    {% for speaker in presentation.speakers %}
        <h3><em>{{ speaker }}</em></h3>
        {% if speaker.photo %}
        <img src="{% thumbnail speaker.photo '128x128' %}" class="pull-right media-object" alt="{{ speaker.name }}" />
        {% endif %}
        <div class="speaker-bio">{{ speaker.biography }}</div>
        <p><a href="{% url speaker_profile speaker.pk %}">{% trans "See more" %}</a></p>
    
    {% endfor %}
    
</section>
{% endblock %}
