{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap %}
{% load thumbnail %}
{% load sitetree %}

{% block head_title %}{{ presentation.title }}{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}
    {% if presentation.slot %}
    <div class="pull-right">
    <span>{{ presentation.slot.day.date|date:"l" }} {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}</span>
    <span>{{ presentation.slot }}</span>
    </div>
    {% endif %}
    <h1>{{ presentation.title }}</h1>

    <p>
        {% for speaker in presentation.speakers %}<em>{{ speaker }}</em>{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>
    <dl class="dl-horizontal">
        {% if presentation.proposal.category %}
        <dt>Th&eacute;matique</dt>
        <dd>{{ presentation.proposal.category }}</dd>
        {% endif %}
        {% if presentation.proposal.get_audience_level_display %}
        <dt>Niveau</dt>
        <dd style="margin-bottom: 0;">{{ presentation.proposal.get_audience_level_display }}</dd>
        {% endif %}
        {% if presentation.session %}
        <dt>Horaire</dt><dd><span class="date">{{ presentation.session.day.date|date:"l d b" }}</span>,
        <span class="time">{{ presentation.session.start|date:"H:i" }} &ndash; {{ presentation.session.end|date:"H:i" }}</span></dd>
        <dt>Salle</dt><dd><span class="label label-danger">{{ presentation.session.room }}</span></dd>
        {% endif %}
        
        {% if presentation.subscription %}
        <dt>Acc&egrave;s</dt>
            {% if presentation.subscription.is_closed %}
            <dd>Sur inscription. <span class="text-danger">Les inscriptions sont closes</span>.</dd>
            {% else %}
            <dd><a href="{% url subscribe_to_presentation presentation.pk %}">Sur inscription</a></dd>
            {% endif %}
        {% endif %}

    </dl>
    <h2>Description</h2>

    <div class="description col-lg-6">{{ presentation.description }}</div>

    {% for coverage in presentation.coverages.all %}
        {% if coverage.coverage_type == "video" %}
        <div class="video col-lg-6">
            <video width="360" controls="controls" poster="{{ coverage.poster }}">
                <source src="{{ coverage.url }}" type="video/webm"/>
                <source src="{{ coverage.url2 }}" type="video/mp4"/>
                <object width="360" height="200" type="application/x-shockwave-flash" 
                        data="http://2014.capitoledulibre.org/mezzanine_media/static/grappelli/tinymce/jscripts/tiny_mce/plugins/media/moxieplayer.swf">
                    <param value="http://2014.capitoledulibre.org/mezzanine_media/static/grappelli/tinymce/jscripts/tiny_mce/plugins/media/moxieplayer.swf" 
                            name="src">
                    <param value="url={{ coverage.url }}&amp;poster={{ coverage.poster }}" name="flashvars">
                    <param value="true" name="allowfullscreen">
                    <param value="true" name="allowscriptaccess">
                </object>
            </video>
        </div>
        {% endif %}
    {% endfor %}
    <div class="clearfix"></div>
    {% if presentation.abstract %}
    <h2>{% trans "Abstract" %}</h2>
    <div class="abstract">{{ presentation.abstract|safe }}</div>
    {% endif %}

    {% if presentation.subscription %}
        {% if not presentation.subscription.is_closed %}
        <p class="text-info">L'inscription &agrave; cet atelier est n&eacute;cessaire, il reste {{ presentation.subscription.places_left }} places.
            <a class="btn btn-default" href="{% url subscribe_to_presentation presentation.pk %}">Je m'inscris !</a></p>
        {% endif %}
    {% endif %}

{% endblock %}

{% block sidebar %}
<section class="media">
    {% if presentation.coverages.exists %}
    <h2>{% trans "Coverage" %}</h2>
        <ul>
        {% for coverage in presentation.coverages.all %}
        <li><a href="{{ coverage.url }}" alt="{{ coverage.title }}">{{ coverage.title }}</a> 
        <small>&ndash; {{ coverage.licence }}
        <a href="{{ coverage.licence.url }}"><span class="glyphicon glyphicon-link"></span></a></small></li>
        {% endfor %}
        </ul>
    {% endif %}

    <h2 class="text-hide">Intervenant(es)</h2>
    {% for speaker in presentation.speakers %}
        <h3><em>{{ speaker }}</em></h3>
        {% if speaker.photo %}
        <img src="{% thumbnail speaker.photo '128x128' %}" class="pull-right media-object" alt="{{ speaker.name }}" />
        {% endif %}
        <div class="speaker-bio">{{ speaker.biography }}</div>
        <p><a href="{% url speaker_profile speaker.pk %}">{% trans "See more" %}</a></p>
    
    {% endfor %}
    <div class="clearfix"></div>
    {% if user.is_staff %}
        <h2>Admin</h2>
        <p>
        {% if presentation.subscription %}
        <a class="btn btn-sm btn-default" href="{% url subscription_edit presentation.pk %}">&Eacute;diter le formulaire</a>
        {% else %}
        <a class="btn btn-sm btn-default" href="{% url subscription_add presentation.pk %}">Ajouter un formulaire</a>
        {% endif %}
        </p>
    {% endif %}
</section>
{% endblock %}
