{% extends "site_base_onecolumn.html" %}

{% load i18n %}
{% load cache %}
{% load sitetree %}

{% block head_title %}Presentation Listing{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}
    <h1>{{ schedule.section.name }}</h1>

    {% if schedule.section.slug != "stand-associatif" %}
        <ul class="nav nav-tabs">
            <li {% if not category %}class="active"{% endif %}><a href="{% url schedule_list schedule.section.slug %}"><small>&lt;&lt;</small></a></li>
            {% for categ in categories %}
            <li {% if category and categ == category %}class="active"{% endif %}><a href="{% url schedule_list_category schedule.section.slug categ.slug %}">{{ categ }}</a></li>
            {% endfor %}
        </ul>
        {% if category  %}
            <h2>{{ category }}</h2>
            {% if not presentations %}<p>Pas de pr&eacute;sentations dans cette th&eacute;matique. <a href="{% url schedule_list schedule.section.slug %}">Retour &agrave; toutes les th&eacute;matiques</a></p>{% endif %}
        {% else %}
            <h2>Toutes th&eacute;matiques</h2>
        {% endif %}
    {% endif %}

    <div class="row">
        {% for presentation in presentations %}
        <div class="col-sm-6 presentation">
            <div class=" well">
                <h2><a href="{% url schedule_presentation_detail presentation.pk %}">{{ presentation.title }}</a></h2>
                <div class="presentation-category">{{ presentation.proposal.category }}</div>
                <h3>{{ presentation.speakers|join:", " }}</h3>
                {{ presentation.description }}
                {% if presentation.slot %}
                    <div class="presentation-slot">
                        {{ presentation.slot.day.date|date:"l" }}
                        {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
                        in
                        {{ presentation.slot.rooms|join:", " }}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
