{% extends "site_base_onecolumn.html" %}

{% load i18n %}
{% load cache %}
{% load sitetree %}

{% block head_title %}Presentation Listing{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}
    <h1>{{ schedule.section.name }}</h1>

    {% if schedule.section.slug != "stand-associatif" %}
        <ul class="nav nav-tabs">
            <li {% if not category %}class="active"{% endif %}><a href="{% url schedule_list schedule.section.slug %}"><small>&laquo;</small></a></li>
            {% for categ in categories %}
            <li {% if category and categ == category %}class="active"{% endif %}><a href="{% url schedule_list_category schedule.section.slug categ.slug %}">{{ categ }}</a></li>
            {% endfor %}
        </ul>
        
        {% if category  %}
            <h2>{{ category }}</h2>
            {% if not presentations %}<p>Pas de pr&eacute;sentations dans cette th&eacute;matique. <a href="{% url schedule_list schedule.section.slug %}">Retour &agrave; toutes les th&eacute;matiques</a></p>{% endif %}
        {% else %}
            <h2>Toutes th&eacute;matiques</h2>
        {% endif %}
    {% endif %}

    <div  class="affix affix-bottom" data-offset-top="60" data-offset-bottom="200" style="right: 20px;">
    <ul class="nav">
    {% for presentation in presentations %}
        <li><a href="#presentation-{{ presentation.pk }}">{{ presentation.title }} &ndash; 
        <small><em>{{ presentation.speakers|join:", " }}</em></small></a></li>
    {% endfor %}
    <li><a href="#top" alt="top">back to top</a></li>
    </ul>
    </div>

    <div class="row">
        {% for presentation in presentations %}
        <div class="col-sm-6 presentation" id="presentation-{{ presentation.pk }}">
            <div class=" well">
                <h2><a href="{% url schedule_presentation_detail presentation.pk %}">{{ presentation.title }}</a> &ndash; <small>{{ presentation.speakers|join:", " }}</small></h2>

                <div class="presentation-category">{{ presentation.proposal.category }}</div>

                {% if presentation.session %}
                <p class="session"><span class="date">{{ presentation.session.day.date|date:"l d b" }}</span>,
                <span class="time label label-warning"><span class="start">{{ presentation.session.start|date:"H:i" }}</span> &ndash; <span class="start">{{ presentation.session.end|date:"H:i" }}</span></span>
                <span class="label label-default">{{ presentation.session.room }}</span>
                </p>
                {% endif %}

                {{ presentation.description }}

            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
